
    <footer class="footer">
        <div class="container">
            <div class="footer-menu-contact">
                <div class="footer-logo-text">
                    <a class="logo-link" href="./index.html">
                        <svg class="logo-svg">
                            <use href="../img/sprite.svg#icon-logo"></use>
                        </svg>
                    </a>
                    <p class="logo-text-paragraph">Whether you're looking for a healthy snack or a thoughtful gift, our
                        fruit baskets are the perfect
                        choice.</p>
                </div>

                <div class="footer-block-contacts">
                    <div class="footer-block">
                        <ul class="block-list">
                            <li class="block-item">
                                <a href="#how-it-works">
                                    <h2 class="block-text">HOW IT WORKS</h2>
                                </a>
                            </li>
                            <li class="block-item">
                                <a href="#vegetables">
                                    <h2 class="block-text">VEGETABLES</h2>
                                </a>
                            </li>
                            <li class="block-item">
                                <a href="#reviews">
                                    <h2 class="block-text">REVIEWS</h2>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="footer-contacts">
                        <ul class="contacts-list">
                            <li class="contacts-item"><a class="contacts-link" href="tel:+380684439426">+380 (68)
                                    443-94-26</a>
                            </li>
                            <li class="contacts-item">
                                <p class="contacts-link">1678 S. Pioneer Road Salt Lake City UT 84104</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer-privacy-policy">
                <div class="privacy-div">
                    <ul class="privacy-list">
                        <li>
                            <p class="privacy-paragraph">Privacy Policy</p>
                        </li>
                        <li>
                            <p class="privacy-paragraph">/</p>
                        </li>
                        <li>
                            <p class="privacy-paragraph">Cookie settings</p>
                        </li>
                    </ul>
                </div>
                <div class="privacy-mark">
                    <p class="privacy-paragraph">©Green Harvest 2023</p>
                </div>
            </div>
        </div>
    </footer>
