<footer class="footer">
    <div class="container">
        <div class="footer-menu-contact">
            <div class="footer-logo-text">
                <a href="">
                    <svg class="" width="" height="">
                    <use href=""></use>
                    </svg>
                </a>
                <p>Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect choice.</p>
            </div>

            <div class="footer-block">
                <ul class="block-list">
                    <li class="block-item">
                        <a href="#how-it-works.html"><h2>HOW IT WORKS</h2></a>
                    </li>
                    <li class="block-item">
                        <a href="#vegetables.html"><h2>VEGETABLES</h2></a>
                    </li>
                    <li class="block-item">
                        <a href="#reviews.html"><h2>REVIEWS</h2></a>
                    </li>
                </ul>
            </div>

            <div class="footer-contacts">
                <ul class="contacts-list">
                    <li class="contacts-item"><a class="contacts-link" href="tel:+380684439426">+380 (68) 443-94-26</a></li>
                    <li class="contacts-item"><p>1678 S. Pioneer Road Salt Lake City UT 84104</p></li>
                </ul>
            </div>
        </div>

        <div class="footer-privacy-policy">
            <div class="">
                
            </div>
            <div class="">

            </div>
        </div>
    </div>
</footer>