<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="header-logo-link" href="./index.html">
        <svg class="header-logo-svg">
          <use href="/img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#how_it_works">How It Works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#vegetables">Vegetables</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>
    <button class="header-btn" type="button">SHOP NOW</button>
    <button
      class="burger-btn js-open-modal"
      type="button"
      aria-label="Open burger menu"
    >
      <svg class="burger-icon" width="21" height="16">
        <use href="/img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
