<header class="page-header">
  <nav class="navbar">
    <div class="container">
      <a href="#" class="navbar-logo">
        <svg class="logo" width="168" height="16">
          <use href="../img/sprite.svg#icon-logo"></use>
        </svg>
      </a>

      <div class="navbar-wrap">
        <ul class="navbar-menu">
          <li class="menu-item">
            <a href="how-it-works.html">How It Works</a>
          </li>
          <li class="menu-item"><a href="vegetables.html">Vegetables</a></li>
          <li class="menu-item"><a href="reviews.html">Reviews</a></li>
        </ul>
        <a href="#" class="shop-btn">SHOP NOW</a>
      </div>
      <button class="menu-btn" type="button" data-menu-open>
        <svg class="menu-icon" width="24" height="24">
          <use href="../img/sprite.svg#icon-icon-menu"></use>
        </svg>
      </button>
    </div>
  </nav>
</header>
