<section id="how-it-works" class="how-it-works">
  <div class="works-container">
    <h2 class="visually-hidden">How it works?</h2>
    <div class="work-wrapper">
      <div class="works-left">
        <div class="thumb">
          <picture>
            <!--Destkop -->
            <source
              media="(min-width: 1280px)"
              srcset="
                img/how-is-work/work@1.jpg 1x,
                img/how-is-work/work@2.jpg 2x
              "
            />
            <!--tablet -->
            <source
              media="(min-width: 768px)"
              srcset="
                img/how-is-work/tabletwork@1.jpg 1x,
                img/how-is-work/tabletwork@2.jpg 2x
              "
            />
            <!--mobile -->
            <source
              media="(max-width: 767px)"
              srcset="
                img/how-is-work/mobilework@1.jpg 1x,
                img/how-is-work/mobilework@2.jpg 2x
              "
            />
            <img
              class="work-img"
              src="img/how-is-work/mobilework@1.jpeg"
              alt="How it works?"
            />
          </picture>
        </div>
      </div>
      <div class="work-right">
        <div class="container-right">
          <p class="title-right">
            To order your <span class="title-span">vegetable</span> basket,
            simply follow these <span class="title-span">easy steps</span>
          </p>
          <p class="order-text">
            Our baskets are assembled with care and delivered straight to your
            doorstep, so you can enjoy the taste of fresh fruit without ever
            leaving your home.
          </p>
          <ol class="list-order">
            <li class="list-item">
              <p class="text-item">
                Just choose <span class="item-span">the vegetable</span> you
                want to order by clicking on the checkboxes
                <span class="item-span">next to it.</span>
              </p>
            </li>
            <li class="list-item">
              <p class="text-item">
                Click on <span class="item-span">the basket</span> and fill
                out&nbsp;the form.
              </p>
            </li>
            <li class="list-item">
              <p class="text-item">
                Sit back and relax! Your
                <span class="item-span">fresh vegetables</span> basket will be
                delivered.
              </p>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
