 <div class="backdrop is-open" modal-menu>
        <div class="modal">
          <button class="close-modal" close-modal-btn>✖</button>
          <ul class="modal-menu">
            <li><button class="modal-link active">How It Works</button></li>
            <li><button class="modal-link">Vegetables</button></li>
            <li><button class="modal-link">Reviews</button></li>
          </ul>
          <button class="shop-now">SHOP NOW</button>
        </div>
      </div>
      <button class="open-modal-btn" mobile-menu>Open Menu</button>