<section class="vegetables">
  <div class="container">
    <h2 class="vegetables-title">
      organic <span class="vegetables-title-part">vegetables</span>
    </h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>

    <ul class="vegetables-list">
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">eggplant</h3>
        <p class="vegetables-price">60 USD / kg</p>
        <picture>
          <!-- desktop -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/vegetables/eggplant_desk@1x.png 1x,
              ../img/vegetables/eggplant_desk@2x.png 2x
            "
          />
          <!-- mobile and tablet -->
          <source
            media="(max-width: 1279px)"
            srcset="
              ../img/vegetables/eggplant_mob_tab@1x.png 1x,
              ../img/vegetables/eggplant_mob_tab@2x.png 2x
            "
          />
          <img
            class="vegetables-img"
            src="../img/vegetables/eggplant_mob_tab@1x.png"
            width="280"
            height="244"
            alt="image eggplant"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">leek</h3>
        <p class="vegetables-price">50 USD / kg</p>
        <picture>
          <!-- desktop -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/vegetables/leek_desk@1x.png 1x,
              ../img/vegetables/leek_desk@2x.png 2x
            "
          />
          <!-- mobile and tablet -->
          <source
            media="(max-width: 1279px)"
            srcset="
              ../img/vegetables/leek_mob_tab@1x.png 1x,
              ../img/vegetables/leek_mob_tab@2x.png 2x
            "
          />
          <img
            class="vegetables-img"
            src="../img/vegetables/leek_mob_tab@1x.png"
            width="280"
            height="244"
            alt="image leek"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">mushrooms</h3>
        <p class="vegetables-price">40 USD / kg</p>
        <picture>
          <!-- desktop -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/vegetables/mushrooms_desk@1x.png 1x,
              ../img/vegetables/mushrooms_desk@2x.png 2x
            "
          />
          <!-- mobile and tablet -->
          <source
            media="(max-width: 1279px)"
            srcset="
              ../img/vegetables/mushroom_mob_tab@1x.png 1x,
              ../img/vegetables/mushroom_mob_tab@2x.png 2x
            "
          />
          <img
            class="vegetables-img"
            src="../img/vegetables/mushroom_mob_tab@1x.png"
            width="280"
            height="244"
            alt="image mushrooms"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">corn</h3>
        <p class="vegetables-price">60 USD / kg</p>
        <picture>
          <!-- desktop -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/vegetables/corn_desk@1x.png 1x,
              ../img/vegetables/corn_desk@2x.png 2x
            "
          />
          <!-- mobile and tablet -->
          <source
            media="(max-width: 1279px)"
            srcset="
              ../img/vegetables/corn_mob_tab@1x.png 1x,
              ../img/vegetables/corn_mob_tab@2x.png 2x
            "
          />
          <img
            class="vegetables-img"
            src="../img/vegetables/corn_mob_tab@1x.png"
            width="280"
            height="244"
            alt="image corn"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">sweet potatoes</h3>
        <p class="vegetables-price">50 USD / kg</p>
        <picture>
          <!-- desktop -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/vegetables/sweet-potatoes_desk@1x.png 1x,
              ../img/vegetables/sweet-potatoes_desk@2x.png 2x
            "
          />
          <!-- mobile and tablet -->
          <source
            media="(max-width: 1279px)"
            srcset="
              ../img/vegetables/sweet-potatoes_mob_tab@1x.png 1x,
              ../img/vegetables/sweet-potatoes_mob_tab@2x.png 2x
            "
          />
          <img
            class="vegetables-img"
            src="../img/vegetables/sweet-potatoes_mob_tab@1x.png"
            width="280"
            height="244"
            alt="image sweet potatoes"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">carrot</h3>
        <p class="vegetables-price">40 USD / kg</p>
        <picture>
          <!-- desktop -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/vegetables/carrot_desk@1x.png 1x,
              ../img/vegetables/carrot_desk@2x.png 2x
            "
          />
          <!-- mobile and tablet -->
          <source
            media="(max-width: 1279px)"
            srcset="
              ../img/vegetables/carrot_mob_tab@1x.png 1x,
              ../img/vegetables/carrot_mob_tab@2x.png 2x
            "
          />
          <img
            class="vegetables-img"
            src="../img/vegetables/carrot_mob_tab@1x.png"
            width="280"
            height="244"
            alt="image carrot"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
