<section class="vegetables">
  <div class="container vegetables-container">
    <div class="vegetables-wrap">
      <h2 class="vegetables-title">
        organic <span class="vegetables-title-part">vegetables</span>
      </h2>
      <p class="vegetables-text">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
    </div>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <h3>eggplant</h3>
        <p>60 USD / kg</p>
        <img src="" width="280" height="240" alt="image eggplant" />
      </li>
      <li>
        <h3>leek</h3>
        <p>50 USD / kg</p>
        <img src="" width="280" height="240" alt="image leek" />
      </li>
      <li>
        <h3>mushrooms</h3>
        <p>40 USD / kg</p>
        <img src="" width="280" height="240" alt="image mushrooms" />
      </li>
      <li>
        <h3>corn</h3>
        <p>60 USD / kg</p>
        <img src="" width="280" height="240" alt="image corn" />
      </li>
      <li>
        <h3>sweet potatoes</h3>
        <p>50 USD / kg</p>
        <img src="" width="280" height="240" alt="image sweet potatoes" />
      </li>
      <li>
        <h3>carrot</h3>
        <p>40 USD / kg</p>
        <img src="" width="280" height="240" alt="image carrot" />
      </li>
    </ul>
  </div>
</section>
