<section class="vegetables">
  <div class="container vegetables-container">
    <h2 class="vegetables-title">
      organic <span class="vegetables-title-part">vegetables</span>
    </h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>

    <ul class="vegetables-list">
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">eggplant</h3>
        <p class="vegetables-price">60 USD / kg</p>
        <img
          class="vegetables-img"
          src="../img/vegetables/eggplant_mob_tab@1x.png"
          width="280"
          height="240"
          alt="image eggplant"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">leek</h3>
        <p class="vegetables-price">50 USD / kg</p>
        <img
          class="vegetables-img"
          src="../img/vegetables/leek_mob_tab@1x.png"
          width="280"
          height="240"
          alt="image leek"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">mushrooms</h3>
        <p class="vegetables-price">40 USD / kg</p>
        <img
          class="vegetables-img"
          src="../img/vegetables/mushroom_mob_tab@1x.png"
          width="280"
          height="240"
          alt="image mushrooms"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">corn</h3>
        <p class="vegetables-price">60 USD / kg</p>
        <img
          class="vegetables-img"
          src="../img/vegetables/corn_mob_tab@1x.png"
          width="280"
          height="240"
          alt="image corn"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">sweet potatoes</h3>
        <p class="vegetables-price">50 USD / kg</p>
        <img
          class="vegetables-img"
          src="../img/vegetables/sweet potatoes_mob_tab@1x.png"
          width="280"
          height="240"
          alt="image sweet potatoes"
        />
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">carrot</h3>
        <p class="vegetables-price">40 USD / kg</p>
        <img
          class="vegetables-img"
          src="../img/vegetables/carrot_mob_tab@1x.png"
          width="280"
          height="240"
          alt="image carrot"
        />
      </li>
    </ul>
  </div>
</section>
