.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advertisement {
  padding: 80px 0;
  height: 472px;
}

@media only screen and (min-width: 768px) {
  .advertisement {
    padding: 100px 0;
    height: 488px;
  }
}

@media only screen and (min-width: 1280px) {
  .advertisement {
    height: 428px;
  }
}

.advertisement-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  position: absolute;
  max-width: 335px;
}

@media only screen and (min-width: 768px) {
  .advertisement-text {
    font-size: 64px;
    line-height: 1;
    max-width: 704px;
    margin-top: 20px;
    margin-bottom: 12px;
  }
}

@media only screen and (min-width: 1280px) {
  .advertisement-text {
    font-size: 76px;
    margin-top: 4px;
    margin-left: 16px;
    max-width: 1054px;
  }
}

.advertisement-txt {
  color: #fbfbfb;
}

.border {
  width: 335px;
  height: 102px;
  background-color: #576f35;
  border-radius: 12px;
  position: absolute;
}
@media only screen and (min-width: 768px) {
  .border {
    width: 675px;
    height: 86px;
  }
}

@media only screen and (min-width: 1280px) {
  .border {
    width: 808px;
    height: 84px;
  }
}

/* .advertisement {
  position: relative;
} */
