.footer {
    background: #7a3145;
    padding: 40px 0;
}

@media only screen and (min-width: 768px) {
    .footer {
        padding: 32px 0;
    }
}

@media only screen and (min-width: 1280px) {
    .footer {
        padding: 52px 0;
    }
}

.footer .container {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

@media only screen and (min-width: 768px) {
    .footer .container {
        padding: 0 32px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 100px;
        align-items: baseline;
    }
}

@media only screen and (min-width: 1280px) {
    .footer .container {
        padding: 0 100px;
        gap: 124px;
        flex-direction: column;
    }
}

.footer-menu-contact {
    max-width: 335px;
}

@media only screen and (min-width: 768px) {
    .footer-menu-contact {
        max-width: 704px;
        display: flex;
        gap: 212px;
    }
}

@media only screen and (min-width: 1280px) {
    .footer-menu-contact {
        max-width: 1080px;
        gap: 250px;
    }
}

.footer-logo-text {
    max-width: 335px;
    margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
    .footer-logo-text {
        max-width: 265px;
        margin-bottom: 0;
    }
}

.logo-link {
  margin-bottom: 14px;
  display: block;
}

@media only screen and (min-width: 768px),
only screen and (min-width: 1280px) {
  .logo-link {
    margin-bottom: 24px;
  }
}

.logo-svg {
  fill: #fbfbfb;
  max-width: 168px;
  height: 16px;
  display: block;
}

@media only screen and (min-width: 768px),
only screen and (min-width: 1280px) {
    .logo-svg {
        margin-bottom: 24px;
        max-width: 216px;
        height: 20px;
    }
}

.logo-text-paragraph {
    max-width: 335px;
}

@media only screen and (min-width: 768px) {
    .logo-text-paragraph {
        max-width: 265px;
    }
}

.footer-block-contacts {
  display: flex;
  flex-wrap: wrap;
  max-width: 228px;
}

@media only screen and (min-width: 1280px) {
  .footer-block-contacts {
      display: flex;
      flex-wrap: nowrap;
      max-width: 565px;
  }
}

.block-list {
  max-width: 228px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .block-list {
    margin-bottom: 64px;
  }
}

@media only screen and (min-width: 1280px) {
  .block-list {
    margin-right: 121px;
    margin-bottom: 0;
  }
}

.block-item:not(:last-child) {
    margin-bottom: 14px;
}

@media only screen and (min-width: 768px),
only screen and (min-width: 1280px) {
    .block-item:not(:last-child) {
        margin-bottom: 24px;
    }
}

.block-text {
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
}

.contacts-list {
  max-width: 216px;
}

.contacts-item:not(:last-child) {
    margin-bottom: 14px;
}

@media only screen and (min-width: 768px),
only screen and (min-width: 1280px) {
    .contacts-item:not(:last-child) {
        margin-bottom: 24px;
    }
}

.contacts-link {
    font-weight: 700;
}

@media only screen and (min-width: 320px) {
    .footer-privacy-policy {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .footer-privacy-policy {
        width: 100%;
        display: flex;
    }
}

@media only screen and (min-width: 1280px) {
    .footer-privacy-policy {
        width: 100%;
        display: flex;
    }
}

.privacy-list {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

@media only screen and (min-width: 768px) {
  .privacy-list {
    margin-right: auto;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1280px) {
  .privacy-list {
    gap: 12px;
  }
}

.privacy-paragraph {
  color: #d4bfc4;
}