footer {
  background: #7a3145;
  padding: 40px 0;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 32px 0;
  }
}

@media only screen and (min-width: 1280px) {
  .footer {
    padding: 52px 0;
  }
}

.footer .container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media only screen and (min-width: 768px) {
  .footer .container {
    padding: 0 32px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    align-items: baseline;
  }
}

@media only screen and (min-width: 1280px) {
  .footer .container {
    padding: 0 100px;
    gap: 124px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

.footer-menu-contact {
  width: 335px;
}

@media only screen and (min-width: 768px) {
  .footer-menu-contact {
    width: 704px;
    display: flex;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-menu-contact {
    width: 1080px;
    display: flex;
  }
}

.footer-logo-text {
  width: 335px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .footer-logo-text {
    width: 265px;
    margin-right: 212px;
    margin-bottom: 0;
  }
}

.logo-svg {
  fill: #fbfbfb;
  margin-bottom: 14px;
  max-width: 168px;
  height: 16px;
}

@media only screen and (min-width: 768px), only screen and (min-width: 1280px) {
  .logo-svg {
    margin-bottom: 24px;
    width: 216px;
    height: 20px;
  }
}

.logo-text-paragraph {
  width: 335px;
}

@media only screen and (min-width: 768px) {
  .logo-text-paragraph {
    width: 265px;
  }
}

.footer-block-contacts {
  display: flex;
  flex-wrap: wrap;
}

.footer-block {
  max-width: 228px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .footer-block {
    margin-bottom: 64px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-block {
    margin-right: 121px;
    margin-bottom: 0;
  }
}

.block-item:not(:last-child) {
  margin-bottom: 14px;
}

@media only screen and (min-width: 768px), only screen and (min-width: 1280px) {
  .block-item:not(:last-child) {
    margin-bottom: 24px;
  }
}

.block-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

.footer-contacts {
  max-width: 216px;
}

.contacts-item:not(:last-child) {
  margin-bottom: 14px;
}

@media only screen and (min-width: 768px), only screen and (min-width: 1280px) {
  .contacts-item:not(:last-child) {
    margin-bottom: 24px;
  }
}

.contacts-link {
  font-weight: 700;
}

@media only screen and (min-width: 320px) {
  .footer-privacy-policy {
    width: 335px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-privacy-policy {
    width: 704px;
    display: flex;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-privacy-policy {
    width: 1080px;
    display: flex;
  }
}

.privacy-div {
  max-width: 202px;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .privacy-div {
    width: 229px;
    margin-right: 318px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1280px) {
  .privacy-div {
    width: 565px;
    margin-right: 358px;
    margin-bottom: 0;
  }
}

.privacy-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media only screen and (min-width: 1280px) {
  .privacy-list {
    gap: 12px;
  }
}

.privacy-paragraph {
  color: #d4bfc4;
}

.privacy-mark {
  max-width: 138px;
}

@media only screen and (min-width: 768px), only screen and (min-width: 1280px) {
  .privacy-mark {
    width: 157px;
  }
}
