.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: transparent;
  margin-top: 20px;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-logo-link {
  display: flex;
  gap: 4px;
  align-items: center;
  outline-color: transparent;
  padding: 8px 0;
}
@media only screen and (min-width: 768px) {
  .header-logo-link {
    padding: 10px 0;
  }
}
.nav-list {
  display: none;
}

.header-btn {
  display: none;
}
.burger-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
}
@media only screen and (min-width: 768px) {
  .burger-btn {
    width: 40px;
    height: 40px;
  }
}
.burger-icon {
  stroke: #fbfbfb;
}
@media only screen and (min-width: 768px) {
  .burger-icon {
    width: 27px;
    height: 20px;
  }
}
.header-logo-svg {
  fill: #fbfbfb;
  width: 168px;
  height: 16px;
}
@media only screen and (min-width: 768px), only screen and (min-width: 1280px) {
  .header-logo-svg {
    width: 216px;
    height: 20px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    margin-top: 32px;
  }

  .heade-logo-link {
    gap: 9px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    position: absolute;
  }

  .header-logo-link {
    margin-right: 366px auto;
    padding: 16px 0;
  }
  .header-nav {
    display: flex;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .nav-link {
    padding: 12px;
    border: 1px solid #fbfbfb;
    border-radius: 12px;
    color: #fbfbfb;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }
  .nav-link:hover,
  .nav-link:focus {
    color: #7a3145;
    background-color: #d4bfc4;
    border-color: #d4bfc4;
  }
  .nav-link:active {
    background-color: #fbfbfb;
    border-color: #fbfbfb;
  }
  .header-btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
    text-transform: uppercase;

    display: block;
    margin-left: auto;
    border-radius: 30px;
    padding: 16px 32px;
    background: #7a3145;
    color: #fbfbfb;
    border: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-btn:hover,
  .header-btn:focus {
    background-color: #d4bfc4;
    color: #7a3145;
  }
  .header-btn:active {
    background-color: #fbfbfb;
  }
  .burger-btn {
    display: none;
  }
}
