.container {
    background-color: #576F35;
}

.hero-section {
    display: flex;
    justify-content: center;
    width: 1280px
}

.hero {
    font-size: 76px;
    font-weight: 600;
    line-height: 76px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    color: #FBFBFB;
    padding-bottom: 128px;
}

.text-box {
    width: 504px;
    margin: 232px 36px 52px 100px;
}

.div-hero {
    display: flex;
    justify-content: center;
    width: 1280px
}

.hero-image {
    background-image: url(../img/veg-1x/veg-desc.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media(max-width: 768px) {
    .hero-image {
        width: 375px;
        height: 372px;
        background-image: url(../img/veg-1x/veg-phon.jpg);
    }

    .hero-section {
        width: 375px;
    }

    .div-hero {
        width: 375px;
        display: flex;
        flex-direction: column;
    }

    .text-box {
        width: 335px;
        margin: 100px 20px 40px 20px;
    }

    .hero {
        padding-bottom: 24px;
        width: 335px;
        font-size: 52px;
        line-height: 52px;
        letter-spacing: -0.015em;
    }
}

@media (min-width:769px) and (max-width:1280px) {
    .hero-image {
        width: 768px;
        height: 536px;
        background-image: url(../img/veg-1x/veg-tabl.jpg);
    }

    .div-hero {
        display: flex;
        flex-direction: column;
        width: 768px;
    }

    .img-veg {
        width: 100%;
    }

    .text-box {
        margin: 120px 32px 52px 32px;
        width: 704px;
    }

    .hero {
        padding-bottom: 24px;
        width: 704px;
    }

    .text-hero {
        width: 603px;
    }
}

@media (min-width: 1280px) {
    .hero-image {
        width: 640px;
        background-image: url(../img/veg-1x/veg-desc.jpg);
    }
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .hero-image {
        background-size: cover;
        background-position: center;
    }

    @media (max-width: 768px) {
        .hero-image {
            background-image: url(/img/veg-2x/veg-phon@2x.jpg);
        }
    }

    @media (min-width: 769px) and (max-width: 1279px) {
        .hero-image {
            background-image: url(/img/veg-2x/veg-tabl@2x.jpg);
        }
    }

    @media (min-width: 1280px) {
        .hero-image {
            background-image: url(/img/veg-2x/veg-desc@2x.jpg);
        }
    }
}