.hero-section {
    display: flex;
    justify-content: center;
    max-width: 375px;
    background-color: #576F35;
}

.div-hero {
    display: flex;
    flex-direction: column;
    max-width: 375px;
}

.text-box {
    max-width: 335px;
    margin: 100px 20px 40px 20px;
}

.hero {
    font-size: 52px;
    font-weight: 600;
    line-height: 52px;
    text-transform: uppercase;
    padding-bottom: 20px;
    letter-spacing: -0.01em;
}

.hero-image {
    background-image: url(../img/veg-1x/veg-phon.jpg);
    width: 375px;
    height: 372px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (min-width:768px) and (max-width:1279px) {
    .hero-image {
        background-image: url(../img/veg-1x/veg-tabl.jpg);
        width: 768px;
        height: 536px;
    }

    .hero-section {
        max-width: 768px;
    }

    .div-hero {
        max-width: 768px;
    }

    .hero-image {
        max-width: 768px;
    }

    .text-box {
        max-width: 704px;
        height: 312px;
        margin: 120px 32px 52px 32px;
    }

    .hero {
        padding-bottom: 24px;
        max-width: 704px;
        font-size: 76px;
        font-weight: 600;
        line-height: 76px;
    }

    .text-hero {
        max-width: 603px;
    }
}

@media only screen and (min-width:1280px) {
    .hero-image {
        background-image: url(../img/veg-1x/veg-desc.jpg);
        width: 640px;
        height: 796px;
    }

    .hero-section {
        max-width: 1280px;
        padding: 0;
    }

    .div-hero {
        max-width: 1280px;
        display: flex;
        flex-direction: row;
    }

    .text-box {
        max-width: 504px;
        height: 564px;
        margin: 232px 36px 0 100px;
    }

    .hero {
        font-size: 76px;
        font-weight: 600;
        line-height: 76px;
        letter-spacing: -0.01em;
        padding-bottom: 128px;
    }

    .text-hero {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
    }
}


@media only screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {


    @media only screen and (max-width: 767px) {
        .hero-image {
            background-image: url(../img/veg-2x/veg-phon@2x.jpg);
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 1279px) {
        .hero-image {
            background-image: url(../img/veg-2x/veg-tabl@2x.jpg);
        }
    }

    @media only screen and (min-width: 1280px) {
        .hero-image {
            background-image: url(../img/veg-2x/veg-desc@2x.jpg);
        }
    }
}