/* По умолчанию модальное окно скрыто */
.backdrop  {
    justify-content: center;
  }
  
  /* Открытое модальное окно */
  .backdrop.is-open {
    display: flex;
  }
  @media screen and (min-width: 768px) {
    .backdrop.is-open  {
      justify-content: flex-end;
      
  }
    }
  
    @media screen and (min-width: 1280px) {
      .backdrop.is-open  {
        visibility: hidden;
    }
      }

  .modal { 
    background-color: #4a623a;
    padding: 20px;
    text-align: center;
    width:375px;
    height: 812px;
  }

  .form-icon {
    stroke: #fbfbfb;
    position: absolute;
  }
  
  .close-modal {
   margin-left: 303px;
   margin-top: 20px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
  }
  
  .modal-menu {
    list-style: none;
    padding: 0;
    margin-top: 244px;
    margin-bottom: 232px;
  }

  .modal-li {
    margin-bottom: 24px;
  }
  
  .modal-link {
  background-color:#4a623a ;
   border-radius: 12px;
   font-size: 16px;
   color: #FBFBFB ;
   cursor: pointer;
   padding: 12px 16px 12px 16px;
   border-color: #FBFBFB;
   border: 1px solid #fbfbfb;
  }
 
  .modal-link:hover {
    color: #7A3145;
    background-color: #D4BFC4;
    border: 1px solid #D4BFC4;
  }
  
  .modal-link:active {
    color: #7A3145;
    border: 1px solid #fbfbfb;
    background-color: #fbfbfb;
  }

  .shop-now {
   
    padding: 16px 41px 16px 41px;
    background-color: #7A3145;
    color: #FBFBFB;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }
  
  .shop-now:hover {
    background-color: #a82342;
  }
  
  .open-modal-btn {
    margin-left: 323px;
    margin-top: 32px;
    margin-right: 32px;
    max-width: 375;
}

@media screen and (min-width: 768px) {
  .open-modal-btn {
    margin-left: 696px;
    margin-top: 32px;
    margin-right: 32px;
}
  }