/* По умолчанию модальное окно скрыто */
.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  /* Открытое модальное окно */
  .backdrop.is-open {
    display: flex;
    
  }
  
  .modal {
    background-color: #4a623a;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  
  .modal-menu {
    list-style: none;
    padding: 0;
  }
  
  .modal-link {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #2e2f42;
    cursor: pointer;
  }
  
  .modal-link:hover {
    background-color: #f0f0f0;
  }
  
  .shop-now {
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #7d1a31;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .shop-now:hover {
    background-color: #a82342;
  }
  
  .open-modal-btn {
    margin-left: 323px;
    margin-top: 32px;
    margin-right: 32px;
    max-width: 375;
}

@media screen and (min-width: 768px) {
  .open-modal-btn {
    margin-left: 696px;
    margin-top: 32px;
    margin-right: 32px;
}
  }