/* #region Reviews */

.section-reviews {
  padding: 80px 0;
}
.reviews-container {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .section-reviews {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1280px) {
}

.title-reviews {
  font-size: 46px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #141414;
  text-transform: uppercase;
  max-width: 320px;
  margin-bottom: 20px;
}
.span-reviews {
  color: #576f35;
}

@media screen and (min-width: 375px) {
  .title-reviews {
    font-size: 48px;
  }
}
.reviews-paragraf {
  text-align: left;
  color: #141414;
  max-width: 335px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .title-reviews {
    font-size: 64px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: -0.015em;
    text-align: left;
    max-width: 553px;
    margin-bottom: 24px;
  }
  .reviews-paragraf {
    font-size: 16px;
    max-width: 553px;
    margin-bottom: 52px;
  }
}

@media screen and (min-width: 1280px) {
  .title-reviews {
    max-width: 751px;
    margin-bottom: 24px;
  }

  .reviews-paragraf {
    margin-bottom: 52px;
  }
}

/* #region slider*/

.reviews-list-wrapper {
  overflow: hidden;
}

.reviews-list {
  width: calc((100vw - 24px) * 3);
  max-width: calc(335px * 3 + 16px);
  overflow: hidden;
  display: flex;
  gap: 8px;
  justify-content: start;
}

.reviews-item {
  width: calc(100vw - 40px);
  max-width: 335px;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  animation: slide-left 30s linear infinite;
  border-radius: 24px;
  border: 1px solid rgba(212, 191, 196, 1);
}

@keyframes slide-left {
  0%,
  10% {
    transform: translateX(0);
  }

  20%,
  35% {
    transform: translateX(calc(-100% - 8px));
  }

  45%,
  60% {
    transform: translateX(calc(-200% - 16px));
  }

  70%,
  85% {
    transform: translateX(calc(-100% - 8px));
  }

  95%,
  100% {
    transform: translateX(0);
  }
}

/* #endregion*/

@media screen and (min-width: 768px) {
  .reviews-list {
    max-width: 1068px;
    height: 248px;
    overflow: hidden;
    gap: 24px;
  }
  .reviews-item {
    max-width: 340px;
    padding: 20px;
  }
  @keyframes slide-left {
    0%,
    20% {
      transform: translateX(0);
    }

    45%,
    70% {
      transform: translateX(-364px);
    }

    95%,
    100% {
      transform: translateX(0%);
    }
  }
}

@media screen and (min-width: 1280px) {
  .reviews-list {
    max-width: 1080px;
  }
  .reviews-item {
    padding: 20px;
    width: 344px;
    animation: none !important;
  }
}
.reviews-img {
  max-width: 56px;
  height: 56px;
  border-radius: 100%;
  margin-bottom: 24px;
}

.reviewer {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.015em;
  text-align: center;
  color: #141414;
  margin-bottom: 8px;
}
.reviews-text {
  text-align: center;
  color: #858585;
  max-width: 288px;
}
@media screen and (min-width: 768px) {
  .reviews-text {
    font-size: 16px;
  }
}

/* #endregion */
