.vegetables {
  padding: 80px 0;
  background-color: #7a3145;
}
@media only screen and (min-width: 768px) {
  .vegetables {
    padding: 100px 0;
  }
}
@media only screen and (min-width: 1280px) {
  .vegetables {
    padding: 100px 0;
  }
}
.vegetables-container {
  margin: 0;
}

.vegetables-wrap {
  max-width: 335px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .vegetables-wrap {
    max-width: 626px;
    gap: 24px;
    margin-bottom: 52px;
  }
}

.vegetables-title {
  max-width: 335px;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .vegetables-title {
    max-width: 508px;
    margin-bottom: 24px;

    font-size: 64px;
    line-height: 1;
  }
}

.vegetables-title-part {
  color: #d4bfc4;
}

.vegetables-text {
  max-width: 335px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .vegetables-text {
    max-width: 626px;
    margin-bottom: 52px;

    font-size: 16px;
    line-height: 1.25;
  }
}
.vegetables-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  .vegetables-list {
    gap: 28px 24px;
  }
}
.vegetables-item {
  border-radius: 40px;
  padding: 32px 24px;
  width: 335px;
  height: 376px;
  background-color: #fbfbfb;
}
@media only screen and (min-width: 768px) {
  .vegetables-item {
    padding: 32px 30px;
    width: calc((100% - 24px) / 2);
    height: 380px;
  }
}
@media only screen and (min-width: 1280px) {
  .vegetables-item {
    padding: 32px;
    width: calc((100% - 48px) / 3);
  }
}
.vegetables-subtitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #7a3145;
  margin-bottom: 12px;
}
@media only screen and (min-width: 768px) {
  .vegetables-subtitle {
    font-size: 32px;
  }
}

.vegetables-price {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #141414;
  margin-bottom: 12px;
}
@media only screen and (min-width: 768px) {
  .vegetables-price {
    font-size: 16px;
    line-height: 1.25;
  }
}
@media only screen and (min-width: 1280px) {
  .vegetables-price {
    margin-bottom: 8px;
  }
}

.vegetables-img {
  width: 280px;
  height: 240px;
}
@media only screen and (min-width: 1280px) {
  .vegetables-img {
    height: 244px;
  }
}
